################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ElasticSamples_Nest/obj
/AerospikeClient/obj
/AerospikeClient/bin/Debug/net9.0
/AerospikeClientTest/bin/Debug/net9.0
/AerospikeClientTest/obj
/ElasticSamples_Nest/bin/Debug/net9.0
